{%load static%}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{%static 'new_year/style.css'%}">
</head>
<body>

<div class="navbar">
    <!-- Logo -->
    <div class="logo">LEGALBOT</div>

    <div class="nav-right">
     <!-- Navigation Links -->
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Profile</a></li>
        </ul>

        <!-- Button -->
        <button class="nav-button" onclick="">Click to generate legal <br> documents</button>
    </div>
</div>

   

</body>
</html>
